@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 12px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Inconsolata', monospace;
}

.Logo {
	font-size: 8em;
    color: #0066ff;
	margin-bottom: 20px;
}

.searchInput {
	margin-bottom: 50px;
	font-size: 1.3em;
	padding-inline-start: 20px;
	padding-inline-end: 10px;
	border-radius: 20px;
	width: 600px;
	height: 40px;
	border: #555555 solid 2px;
	outline: none;
	transition: .3s;
}

@media screen and (max-width: 620px) {
	.Logo {
		font-size: 4em;
	}
	.searchInput {
		width: 300px;
	}

	.options>h1 {
		display: inline;
		color: #fff;
		font-size: 1.0em;
		transition: .6s ease-in;
		margin-left: 15px;
	}
	.options {
		height: 50px;
	}
}

@media screen and (max-width: 450px) {
	.options>h1 {
		display: block;
		color: #fff;
		font-size: 12px;
		transition: .6s ease-in;
		margin-left: 0px;
		width: 100vw;
	}
	.options {
		height: auto;
		padding: 10px;
	}
}

.searchInput:focus {
	border: #0066ff solid 2px;
}

.options {
	position: fixed;
	bottom: 0;
	background-color: #0066ff;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
	height: 30px;
	transition: .3s;
}

.options:hover {
	height: 80px;
}

.options:hover>ul {
	opacity: 1;
}

.options:hover>h1 {
	display: none;
}

.options>h1 {
	width: 100vw;
	display: inline;
	color: #fff;
	font-size: 1.8em;
	transition: .6s ease-in;
	padding-left: 15px;
}

.options>ul {
	opacity: 0;
	width: 80%;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 1.5em;
	transition: .5s;
}

.options>ul>li {
	color: #fff;
	background-color: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s ease-in;
}

.options>ul>li:hover {
	background-color: #001aff75;
}