@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
#Logo {
    background: linear-gradient(to top, #0d92eb, #ff1493);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 170px;
    position: absolute;
    top: 32%;
    left: 30.5%;
    font-family: 'Inconsolata', monospace;
}

#search {
    width: 1000px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 22%;
    border: 5px solid #506ed2;
    border-radius: 44px;
    padding-inline-start: 30px;
    padding-inline-end: 60px;
    font-size: 30px;
}

#searbtn {
    width: 50px;
    position: absolute;
    left: 75.5%;
    top: 50.5%;
}

.options img {
    width: 100px;
}

#choose {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0px;
}

.options {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    font-family: 'Trebuchet MS'
}
#google {
    position: absolute;
    left: 11%;
    text-align: center;
}

#google img {
    width: 90px;
}

#bing {
    position: absolute;
    left: 20%;
    text-align: center;
}

#yahoo {
    position: absolute;
    left: 30%;
    text-align: center;
}

#duckduckgo {
    position: absolute;
    left: 40.5%;
    text-align: center;
}

#youtube {
    position: absolute;
    left: 50%;
    text-align: center;
}

#youtube img {
    width: 150px;
}

#bilibili {
    position: absolute;
    left: 63%;
    text-align: center;
}
#bilibili img {
    width: 100px;
    position: absolute;
    top: -110px;
    right: -26px;
}
#amazon {
    position: absolute;
    left: 70%;
    text-align: center;
}

#amazon img {
    width: 150px;
}

#github {
    position: absolute;
    left: 80%;
    text-align: center;
}

#copyright {
    font-size: 25px;
    position: absolute;
    top: 55%;
    left: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@media screen and (width:1280px){
    #Logo {
        background: linear-gradient(to top, #0d92eb, #ff1493);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 120px;
        position: absolute;
        top: 25%;
        left: 30.5%;
        font-family: 'Inconsolata', monospace;
        
    }
    
    #search {
        width: 800px;
        height: 40px;
        position: absolute;
        top: 40%;
        left: 16%;
        border: 5px solid #506ed2;
        border-radius: 44px;
        padding-inline-start: 30px;
        padding-inline-end: 60px;
        font-size: 30px;
    }
    
    #searbtn {
        width: 50px;
        position: absolute;
        left: 80%;
        top: 40.3%;
    }
    
    .options img {
        width: 100px;
    }
    
    #choose {
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: 0px;
    }
    
    .options {
        position: absolute;
        bottom: 0px;
        font-size: 20px;
        font-family: 'Trebuchet MS'
    }
    #google {
        position: absolute;
        left: 8%;
        text-align: center;
    }
    
    #google img {
        width: 90px;
    }
    
    #bing {
        position: absolute;
        left: 20%;
        text-align: center;
    }
    
    #yahoo {
        position: absolute;
        left: 32%;
        text-align: center;
    }
    
    #duckduckgo {
        position: absolute;
        left: 44%;
        text-align: center;
    }
    
    #youtube {
        position: absolute;
        left: 52%;
        text-align: center;
    }
    
    #youtube img {
        width: 150px;
    }
    
    #bilibili {
        position: absolute;
        left: 66%;
        text-align: center;
    }
    #bilibili img {
        width: 100px;
        position: absolute;
        top: -110px;
        right: -26px;
    }
    #amazon {
        position: absolute;
        left: 72%;
        text-align: center;
    }
    
    #amazon img {
        width: 150px;
    }
    
    #github {
        position: absolute;
        left: 83%;
        text-align: center;
    }
    
    #copyright {
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 27%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
}